{% extends "comum/template.html" %}
{% block conteudo %}

<h1 class="text-center"> {{ titulo }} </h1>
<hr>

<div class="row">
    {% for sinal in listaSinais %}
    <div class="col-md-3">
        <iframe width="270" height="200" src="{{ sinal.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 text-left">
        <h5 class="mt-2"> {{ sinal.nome }} </h5>
        <p> {{ sinal.descricao }} </p>
    </div>
    {% endfor %}
</div>

{% endblock %}